/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/assets/images/background.jpg");
    background-repeat: repeat;
  }

  .parallax-container {
    margin-bottom: 30px;
    height: 80%;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .brand-logo {
    margin-left: 15px;
  }

  
  header, main, footer {
    margin: 0px;
    padding: 0px;
  }
  
  div.col.s6.card-links {
    padding: 0px;
  }
  

  
  .header.center {
    background-color: white;
  }
  
  .intro-text {
    font-size: 50%;
    color: grey;
    text-shadow: -1.5px 0 red, 0 1.5px red, 1.5px 0 red, 0 -1.5px red;
  }